In [1]:
# Importing the necessary package 
# Make sure to pip install it in Anaconda, if you don't have it
import yfinance

In [2]:
# Ignoring warning messages
import warnings 
warnings.filterwarnings("ignore")

In [3]:
# Using the .download() method to get our data

raw_data = yfinance.download (tickers = "^GSPC ^FTSE ^N225 ^GDAXI", #The time series we are interested in - (in our case, these are the S&P, FTSE, NIKKEI and DAX)
                              start = "1994-01-07", #The starting date of our data set
                              end = "2019-09-27", #The ending date of our data set (at the time of upload, this is the current date)
                              interval = "1d", #The distance in time between two recorded observations. Since we're using daily closing prices, we set it equal to "1d", which indicates 1 day. 
                              group_by = 'ticker', #The way we want to group the scraped data. Usually we want it to be "ticker", so that we have all the information about a time series in 1 variable.
                              auto_adjust = True, #Automatically adjuss the closing prices for each period. 
                              treads = True) #Whether to use threads for mass downloading.

[*********************100%***********************]  4 of 4 completed

In [7]:
# Creating a back up copy in case we remove/alter elements of the data by mistake
df_comp = raw_data.copy()

In [8]:
# Adding new columns to the data set
df_comp['spx'] = df_comp['^GSPC'].Close
df_comp['dax'] = df_comp['^GDAXI'].Close
df_comp['ftse'] = df_comp['^FTSE'].Close
df_comp['nikkei'] = df_comp['^N225'].Close

In [9]:
df_comp = df_comp.iloc[1:] # Removing the first elements, since we always start 1 period before the first, due to time zone differences of closing prices
del df_comp['^N225']  # Removing the original tickers of the data set
del df_comp['^GSPC']
del df_comp['^GDAXI']
del df_comp['^FTSE']
df_comp=df_comp.asfreq('b') # Setting the frequency of the data
df_comp=df_comp.fillna(method='ffill') # Filling any missing values

In [10]:
print (df_comp.head()) # Displaying the first 5 elements to make sure the data was scrapped correctly
print (df_comp.tail()) # Making sure of the last day we're including in the series

                   spx          dax         ftse        nikkei

Date
1994-01-10  475.269989  2225.000000  3440.600098  18443.439453
1994-01-11  474.130005  2228.100098  3413.800049  18485.250000
1994-01-12  474.170013  2182.060059  3372.000000  18793.880859
1994-01-13  472.470001  2142.370117  3360.000000  18577.259766
1994-01-14  474.910004  2151.050049  3400.600098  18973.699219
                    spx           dax         ftse        nikkei

Date
2019-09-23  2991.780029  12342.330078  7326.100098  22079.089844
2019-09-24  2966.600098  12307.150391  7291.399902  22098.839844
2019-09-25  2984.870117  12234.179688  7290.000000  22020.150391
2019-09-26  2977.620117  12288.540039  7351.100098  22048.240234
2019-09-27  2977.620117  12288.540039  7351.100098  21878.900391

In [11]:
raw_data.head()

                  ^FTSE                                                \
                   Open         High          Low        Close Volume
Date
1994-01-07  3401.399902  3446.800049  3398.699951  3446.000000    0.0
1994-01-10  3465.699951  3468.100098  3430.000000  3440.600098    0.0
1994-01-11  3442.500000  3442.500000  3413.500000  3413.800049    0.0
1994-01-12  3394.800049  3402.399902  3372.000000  3372.000000    0.0
1994-01-13  3380.699951  3383.300049  3356.899902  3360.000000    0.0

                 ^GSPC                                                   \
                  Open        High         Low       Close       Volume
Date
1994-01-07  467.089996  470.260010  467.029999  469.899994  324920000.0
1994-01-10  469.899994  475.269989  469.549988  475.269989  319490000.0
1994-01-11  475.269989  475.279999  473.269989  474.130005  305490000.0
1994-01-12  474.130005  475.059998  472.140015  474.170013  310690000.0
1994-01-13  474.170013  474.170013  471.799988  472.470001  277970000.0

                   ^N225                                                   \
                    Open          High           Low         Close Volume
Date
1994-01-07  17842.980469  18131.410156  17787.480469  18124.009766    0.0
1994-01-10  18186.519531  18567.060547  18186.519531  18443.439453    0.0
1994-01-11  18481.849609  18671.669922  18373.039062  18485.250000    0.0
1994-01-12  18447.339844  18807.080078  18301.929688  18793.880859    0.0
1994-01-13  18770.380859  18823.380859  18548.750000  18577.259766    0.0

                 ^GDAXI
                   Open         High          Low        Close Volume
Date
1994-01-07  2218.959961  2227.639893  2201.820068  2224.949951    0.0
1994-01-10  2231.840088  2238.010010  2222.000000  2225.000000    0.0
1994-01-11  2225.429932  2235.610107  2225.179932  2228.100098    0.0
1994-01-12  2227.120117  2227.790039  2182.060059  2182.060059    0.0
1994-01-13  2171.500000  2183.709961  2134.100098  2142.370117    0.0

In [13]:
raw_data.shape

(6693, 20)